<div>
    <div class="panel panel-primary">
        <article class="panel-heading animated slideInRight">
            <h4 class="panel-title">{{title}}</h4>
        </article>
    </div>
    <article class="container">
  
            <div class="row">               
                <div class="col-md-3" style="height:100px;"  *ngFor="let character of characters | async;trackBy:trackByCharacters"
                 (click)="gotoDetail(character)">
                    <story-dashboard-button [character]="character"></story-dashboard-button>
                </div> 
            </div>
          
</article>
</div>

