<article class="template animated slideInRight">
  <div *ngIf="character">
    <h4>{{editCharacter.name | uppercase}} details</h4>

    <div class="form-group col-xs-4">
        <h3><label class="label label-default" for="nametext">Name</label></h3>
      <input type="text" id="nametext" class="form-control" [(ngModel)]="editCharacter.name" />
    </div>
      &nbsp;
    <div class="form-group col-xs-4">
        <h3><label class="label label-default" for="sidetext">Side</label></h3>
      <input type="text" id="sidetext" class="form-control" [(ngModel)]="editCharacter.side" />
    </div>
      &nbsp;
    <div>
      <button type="button" class="dashboard-button btn btn-danger" (click)="save()">Save</button>
      &nbsp;
      <button type="button" class="dashboard-button btn btn-primary
      " (click)="cancel()" [class.not-displayed]="isAddMode()">Cancel</button>
      &nbsp;
      <button type="button" class="dashboard-button btn btn-primary" (click)="delete()" [class.not-displayed]="isAddMode()">Delete</button>
    </div>

  </div>
</article>
