<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <a class="md-title-icon" href="/index.html"><i></i></a>
    <span class="mdl-layout-title">Story Tracker</span>
    <button id="reset-button" type="button" class="btn btn-danger btn-lg" (click)="resetDb()">Reset Data</button>
  </div>
  <div class="">
      <ul class="nav nav-tabs">
          <li *ngFor="let item of menuItems"><a [routerLink]="item.link" class="nav-link" routerLinkActive="router-link-active" href="">{{item.caption}}</a></li>
      </ul>
  </div>
</header>
