<div class="mdl-card mdl-shadow--2dp story-card">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">{{character.characterId}}. {{character.name}}</h2>
  </div>
  <div class="mdl-card__menu">
    <a href="" [routerLink]="['/characters', character.character.characterId]"><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">

      <div class="icon mdl-color--primary icon-ic_play_circle_filled_white_24dp"></div>

    </button></a>
  </div>
</div>
